$fontColr: rgba(0, 204, 180);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #ccc;
    .logo {
        font-size: 2.5rem;
        font-weight: bold;
        margin-right: 2rem;
    }
    .list {
        a {
            color: rgba(0, 0, 0, 0.65);
            text-decoration: none;
            margin-right: 1rem;
            font-size: 1.4rem;
            &:hover {
                color: $fontColr;
            }
        }
    }
}

.home {
    .banner1 {
        height: 600px;
        background: url("../images/banner1.jpg") no-repeat center;
        background-size: cover;
    }

    .banner2 {
        height: 600px;
        background: url("../images/banner2.jpg") no-repeat center;
        background-size: cover;
    }

    .banner3 {
        height: 600px;
        background: url("../images/banner3.jpg") no-repeat center;
        background-size: cover;
    }
    .solgen {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        flex-direction: column;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        span {
            text-align: center;
            font-size: 2rem;
            margin-top: 2rem;
        }
    }
}

.main {
    padding: 10rem 3rem;
    min-height: 500px;

    .box {
        margin: 0 auto;
        max-width: 1200px;
        .title {
            text-align: center;
            color: $fontColr;
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        .notLogin {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
            h2 {
                font-size: 2.5rem;
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 2rem;
            }
        }
        .innsBox {
            margin: 0 auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 350px;
            margin-bottom: 5rem;

            .ins {
                width: 25%;
                height: 350px;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .insinfo {
                    position: absolute;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    padding: 2rem;
                    font-size: 1.8rem;
                }
            }
        }

        .cardBox {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .card {
                width: 26rem;
                margin: 2rem;
                border: none;
                .pic {
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.3s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                .ctitle {
                    font-size: 2.4rem;
                    margin: 1rem 0 0.5rem 0;
                }
                .instructor,
                .student {
                    font-size: 1.4rem;
                    color: #ccc;
                }
                .price {
                    font-size: 2rem;
                    color: #666;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
        .info {
            width: 100%;
            padding: 2rem;
            background: #eee;
            margin-bottom: 3rem;
            &__text {
                font-size: 1.8rem;
            }
        }
    }
}

.box2 {
    width: 100%;
    background: #f1f3f5;
    .box2Wrap {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;

        .text {
            width: 50%;
            padding: 5rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            .textone {
                font-size: 3rem;
                font-weight: bold;
            }
            .line {
                width: 5rem;
                height: 0.5rem;
                background: $fontColr;
                margin: 3rem 0 2rem 0;
            }
            .text2 {
                font-size: 1.4rem;
                max-width: 500px;
            }
        }
        .rightImg {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}
.topImg {
    width: 100%;
    height: 300px;
    background: #ccc;
}
.registerImg {
    background: url("../images/register.jpg") no-repeat center;
    background-size: cover;
}
.loginImg {
    background: url("../images/login.jpg") no-repeat center;
    background-size: cover;
}
.courseImg {
    background: url("../images/course.jpg") no-repeat center;
    background-size: cover;
}
.profileImg {
    background: url("../images/profile.jpg") no-repeat center;
    background-size: cover;
}
.postImg {
    background: url("../images/post.jpg") no-repeat center;
    background-size: cover;
}
.footer {
    background: rgba(0, 37, 51);
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
